default_language_version:
  python: python3.13

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=2000"]
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: fix-encoding-pragma
        args: [--remove]
      - id: mixed-line-ending
        args: [--fix, lf]
      - id: requirements-txt-fixer
      - id: trailing-whitespace
      - id: pretty-format-json
        args: [--autofix, --no-sort-keys]

  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 3.0.0
    hooks:
      - id: script-must-have-extension
        exclude: '^(\.bash_aliases|\.envrc)$'
      - id: shellcheck
        exclude: '^\.bash_aliases$'
      - id: shfmt
        args: [-sr, -i 4]

  - repo: https://github.com/ComPWA/taplo-pre-commit
    rev: v0.9.3
    hooks:
      - id: taplo-format
        args: [--config, ./taplo.toml]
      - id: taplo-lint
        args: [--config, ./taplo.toml]

  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: ["--config-file", "./yamllint.yaml"]

  - repo: local
    hooks:
      - id: stylua
        name: stylua
        files: ^.*\.lua$
        entry: stylua
        args: [--verify, --config-path=/home/gulli/.config/stylua/.stylua.toml]
        types: [lua]
        require_serial: true
        language: system
